<footer>

<div class="container">
    <div class="foot_row">
<!--        <div class="question">-->
<!--            <div class="title">-->
<!--                Есть вопросы?-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="links">-->
<!--            <div class="title">-->
<!--                Ссылки-->
<!--            </div>-->
<!--            <ul class="list">-->
<!--                <li onclick="location.href=''">Главная</li>-->
<!--                <li onclick="location.href=''">О нас</li>-->
<!--                <li onclick="location.href=''">Курсы</li>-->
<!--                <li onclick="location.href=''">Контакты</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="subscribe">-->
<!--            <div class="title">-->
<!--                Подписаться-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

</footer>