<header>
    <div class="nav">
        <div class="container">
            <div class="nav__head">
                <div class="logo">
                    <div onclick="location.href='index.html'" class="nav__logo">
                        Инженерная школа
                    </div>
                </div>
                <div class="nav__burger">
                    <span></span>
                </div>
                <div class="nav__menu">
                    <ul class="nav__list">
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="courses.html">Курсы</a></li>
                        <li><a href="contact.html">Контакты</a></li>
<!--                        <?php if (isset($_SESSION['id_user'])): ?>-->
<!--                        <li>-->
<!--                            <?php if ($_SESSION['admin']): ?>-->
<!--                            <a href="administrator/admin.php">Администратор</a>-->
<!--                            <?php else: ?>-->
<!--                            <a href="">Личный кабинет</a>-->
<!--                            <?php endif; ?>-->
<!--                        </li>-->
<!--                        <?php else: ?>-->
                        <li><a href="/">Войти</a></li>
<!--                        <?php endif; ?>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>