@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
menu,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 10px;
  height: 10px;
  background-color: #4c4c4c;
}

::-webkit-scrollbar-button {
  /* 2 - кнопка */
}

::-webkit-scrollbar-track {
  /* 3 - трек */
}

::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 5px;
  background-color: #bbbbbb;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid #cecece;
  background-color: #e3e3e3;
}

::-webkit-scrollbar-corner {
  /* 6 - уголок */
}

::-webkit-resizer {
  /* 7 - изменение размеров */
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 2rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: #4c4c4c;
}

main {
  padding: 60px 0 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #4c4c4c;
  line-height: normal;
}

a:hover {
  color: #618EE3;
}

.button {
  width: 200px;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  background-color: #e09447;
  text-align: center;
  border-radius: 50px;
  color: #f0f0f0;
  cursor: pointer;
  text-transform: uppercase;
}

button {
  display: block;
}

.title {
  font-size: 35px;
  color: #4c4c4c;
  font-weight: 500;
  line-height: 2.5rem;
}

.description {
  font-size: 16px;
}

.title_blue {
  color: #5788e3;
}

.title_yellow {
  color: #e09447;
}

.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(76, 76, 76, 0.6);
          box-shadow: 0 0 20px rgba(76, 76, 76, 0.6);
}

.nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 3;
}

.nav .nav__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.nav .nav__head .logo {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__head .mgt {
  z-index: 3;
  padding-right: 15px;
}

.nav .nav__head .nav__logo {
  position: relative;
  z-index: 3;
  cursor: pointer;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #4c4c4c;
}

.nav .nav__head .nav__logo span {
  font-weight: 900;
  color: #4c4c4c;
}

.nav .nav__head .nav__burger {
  display: none;
}

.nav .nav__head .nav__menu {
  max-width: 500px;
  width: 100%;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__head .nav__menu.active {
  top: 0;
}

.nav .nav__head .nav__menu .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.lock {
  overflow: hidden;
  background-color: #c1c1c1;
}

.popup {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.7);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup .popup_area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup .popup_body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.popup .popup_body .popup_content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  color: #4c4c4c;
  max-width: 500px;
  padding: 25px;
  border-radius: 20px;
  position: relative;
}

.popup .popup_body .popup_content .popup_close {
  display: block;
  position: relative;
  top: 12px;
  right: 0;
  margin-right: 0;
  margin-left: auto;
  z-index: 3;
  width: 35px;
  height: 25px;
}

.popup .popup_body .popup_content .popup_close::before,
.popup .popup_body .popup_content .popup_close::after {
  content: "";
  background-color: #4c4c4c;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 10px;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.popup .popup_body .popup_content .popup_close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .popup_body .popup_content .popup_close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.img_first {
  position: relative;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img_first.second {
  height: 300px;
}

.img_first .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.3;
  background: #4c4c4c;
}

.img_first .cover.second {
  background: #f1453d;
}

.img_first .txt_img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f0f0f0;
  font-size: 55px;
  font-weight: 800;
  max-width: 800px;
  width: 100%;
  line-height: 70px;
  text-align: center;
}

.img_first .txt_img.second {
  font-size: 45px;
}

.img_first .txt_img.path {
  top: 70%;
  font-size: 20px;
  font-weight: 500;
}

.img_first .txt_img.path a {
  color: #f0f0f0;
}

.img_first .txt_img.path a:hover {
  color: #e0e0e0;
}

.for_new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.for_new .task {
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  width: 100%;
}

.for_new .task.blue {
  background-color: #9966CB;
}

.for_new .task.red {
  background-color: #c75454;
}

.for_new .task.green {
  background-color: #339967;
}

.for_new .task.yellow {
  background-color: #d9b91b;
}

.for_new .task .logo {
  position: relative;
  top: -70px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.for_new .task .logo img {
  margin: 20px;
  width: 60px;
}

.for_new .task .txt {
  position: relative;
  top: -30px;
  color: #f0f0f0;
}

.for_new .task .txt .title {
  color: #f0f0f0;
  text-align: center;
  padding: 0 0 20px;
}

.for_new .task .txt .description {
  text-align: center;
  padding: 0 10px;
}

.about_as {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_as .we {
  max-width: 800px;
  width: 100%;
  padding-right: 20px;
}

.about_as .we .head_we {
  padding: 20px 0;
}

.about_as .we .head_we .title {
  padding: 20px 0;
  font-weight: 600;
  font-size: 35px;
}

.about_as .we .head_we .description {
  padding-right: 10px;
}

.about_as .we .body_we {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about_as .we .body_we .column {
  width: 100%;
}

.about_as .we .body_we .column .column_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.about_as .we .body_we .column .column_line .logo_col {
  border-radius: 50%;
  background-color: #618EE3;
}

.about_as .we .body_we .column .column_line .logo_col img {
  width: 40px;
  margin: 15px;
}

.about_as .we .body_we .column .column_line .txt_line {
  padding: 0 10px 30px;
}

.about_as .we .body_we .column .column_line .txt_line .title {
  font-size: 22px;
  padding: 0 0 5px;
}

.about_as .welcome {
  max-width: 400px;
  width: 100%;
  padding: 20px 0;
}

.about_as .welcome .title {
  font-weight: 600;
  font-size: 35px;
  padding: 20px 0;
}

.about_as .welcome .button {
  margin: 20px 0;
}

.head_block {
  padding: 50px 0;
}

.head_block .title {
  font-weight: 700;
  text-align: center;
}

.head_block .description {
  text-align: center;
}

.our {
  padding: 20px 0;
  margin: 0 -10px 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.our .lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.our .lesson .img {
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.our .lesson .txt_lesson {
  padding: 20px;
  width: calc(100% - 250px);
}

.our .lesson .txt_lesson .title {
  font-weight: 500;
  font-size: 24px;
  color: #5788e3;
}

.our .lesson .txt_lesson .time {
  color: #e09447;
  padding: 10px 0;
  font-weight: 500;
}

.contact_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_row .block_contact {
  width: 25%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 10px;
  padding: 20px;
  background-color: #f8f8f8;
}

.map {
  width: 100%;
  height: 287px;
  margin: 20px 0 50px;
}

.map iframe {
  height: 100%;
  width: 100%;
}

.block .title_form {
  font-weight: 600;
  font-size: 30px;
  padding: 30px 0 0;
  text-align: center;
}

.block .form {
  width: 100%;
  margin: 20px auto;
}

.block .form label {
  font-size: 25px;
  font-weight: 500;
}

.block .form input {
  font-size: 25px;
  line-height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #4c4c4c;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
}

.block .form .button {
  margin: 5px auto;
  border: 1px solid #c9c9c9;
}

.block .form .register {
  text-decoration: underline;
}

.block .form .register a {
  font-weight: 500;
}

.block .form .register a:hover {
  color: #4c4c4c;
}

#popup_log .log {
  text-align: center;
  margin: 0 auto;
}

#popup_log .log .title_reg {
  font-size: 25px;
  font-weight: 550;
  margin-bottom: 10px;
}

footer {
  padding: 50px 0;
  background-color: #4c4c4c;
  color: #f0f0f0;
  margin-top: auto;
  width: 100%;
  text-align: center;
}

footer a {
  color: #f0f0f0;
  font-weight: normal;
}

footer .footRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f0f0f0;
}

footer .footRow div {
  max-width: 300px;
  width: 100%;
  text-align: left;
}

footer .footRow .title_foot {
  font-size: 25px;
  font-weight: 500;
  margin: 20px 0;
}

footer .footRow .links.course a:before {
  content: " ";
  padding: 0;
}

footer .footRow .links a {
  color: #f0f0f0;
  font-weight: 400;
}

footer .footRow .links a:before {
  content: "⇒";
  padding-right: 5px;
}

footer .footRow .links a:hover {
  color: #5788e3;
}

.admin_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0 22px;
}

.admin_panel .section-general {
  max-width: 300px;
  min-height: 800px;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px #dbdbdb;
          box-shadow: 0 0 20px #dbdbdb;
}

.admin_panel .section-general ul {
  width: 100%;
  padding: 20px 0;
}

.admin_panel .section-general ul li {
  margin: 20px auto;
  text-align: center;
}

.admin_panel .section-general ul li a {
  font-size: 20px;
}

.admin_panel .section-second {
  width: calc(100% - 320px);
}

.admin_panel .section-second .nav_admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.admin_panel .section-second .nav_admin div {
  margin: 0 0 0 20px;
}

.admin_panel .section-second .table {
  margin: 20px auto;
  width: calc(100% - 40px);
}

.admin_panel .section-second .table .find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  width: 300px;
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin_panel .section-second .table .find button {
  background-color: #fff;
  margin: 0 10px;
}

.admin_panel .section-second .table .find label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin_panel .section-second .table .find label span,
.admin_panel .section-second .table .find label input {
  width: 200px;
  font-size: 22px;
  height: 30px;
}

.admin_panel .section-second .table .find label input {
  border: 1px solid #4c4c4c;
  border-radius: 5px;
  margin-right: 10px;
}

.admin_panel .section-second .table .title {
  text-align: center;
}

.admin_panel .section-second .table .head_table {
  font-weight: 600;
  font-size: 20px;
}

.admin_panel .section-second .table .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #4c4c4c;
  margin: 5px;
}

.admin_panel .section-second .table .row .id {
  width: 40px;
}

.admin_panel .section-second .table .row .name {
  width: 200px;
}

.admin_panel .section-second .table .row .surname {
  width: 200px;
}

.admin_panel .section-second .table .row .price {
  width: 70px;
  text-align: center;
}

.admin_panel .section-second .table .row .tel {
  width: 150px;
}

.admin_panel .section-second .table .row .role {
  width: 70px;
}

.admin_panel .section-second .table .row .course {
  width: 180px;
}

.admin_panel .section-second .table .row .edit {
  width: 100px;
}

.admin_panel .section-second .table .row .edit a {
  font-weight: 500;
}

.admin_panel .section-second .table .row .edit a:hover {
  color: #d9b91b;
}

.admin_panel .section-second .table .row .delete {
  width: 80px;
  margin-right: 15px;
}

.admin_panel .section-second .table .row .delete a {
  font-weight: 500;
}

.admin_panel .section-second .table .row .delete a:hover {
  color: #c75454;
}

.admin_panel .section-second .table .row .control {
  width: 280px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin_panel .section-second .table .row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin_panel .section-second .table .row .column div {
  margin: 0 15px 0 0;
}

.create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto;
}

.create .title {
  text-align: center;
}

.create .error_msg {
  line-height: 20px;
  height: 20px;
  text-align: center;
  padding: 20px;
  color: #c75454;
  font-weight: bolder;
}

.create label,
.create .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.create label span,
.create .select span {
  font-size: 22px;
  font-weight: 500;
}

.create label input,
.create label select,
.create .select input,
.create .select select {
  margin: 20px 0 20px 0;
  border: 1px solid #4c4c4c;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  font-size: 20px;
}

.create label select,
.create .select select {
  font-size: 18px;
}

.create .button {
  margin: 0 auto;
}

.user_img {
  width: 120px;
  height: 120px;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  top: -60px;
  margin: 0 auto;
  border: 0.1px solid rgba(76, 76, 76, 0.3);
}

.user_img:hover .edit_img {
  opacity: 100%;
  color: #f0f0f0;
}

.user_img .edit_img {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: ease 0.8s;
  -o-transition: ease 0.8s;
  transition: ease 0.8s;
  height: 100%;
  width: 100%;
  line-height: 100%;
  background-color: rgba(76, 76, 76, 0.3);
  font-weight: normal;
  color: #f0f0f0;
}

.user_name {
  text-align: center;
  position: relative;
  top: -30px;
}

.user .title {
  font-weight: 500;
  font-size: 22px;
  border-bottom: 1px solid #4c4c4c;
  color: #4c4c4c;
  margin-bottom: 10px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user .title span a {
  font-size: 20px;
}

.user .general_info_user {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user .general_info_user .info_block {
  width: 150px;
}

.user .general_info_user .info_block .label {
  font-size: 28px;
  font-weight: normal;
  margin: 20px 0;
}

.user .general_info_user .info_block .label:after {
  content: ":";
}

.user .general_info_user .result_block {
  width: 400px;
}

.user .general_info_user .result_block .label {
  font-size: 28px;
  font-weight: normal;
  margin: 20px 0;
}

.user .timetable_user {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user .timetable_user .msg {
  font-size: 30px;
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: calc(100% - 60px);
  }

  .our .lesson {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 20px;
  }

  .our .lesson .img {
    height: 300px;
    width: 100%;
  }

  .our .lesson .txt_lesson {
    padding: 20px 0;
    width: 100%;
  }

  .user .general_info_user {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 300px;
    width: 600px;
  }
}

@media screen and (max-width: 1077px) {
  .wrapper {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .about_as .we .body_we {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 970px) {
  .nav .nav__head .nav__menu {
    max-width: 500px;
  }

  .for_new {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contact_row .block_contact {
    width: 48%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 780px) {
  .nav .nav__head .nav__burger {
    display: block;
    position: relative;
    top: 0;
    z-index: 3;
    width: 35px;
    height: 23px;
  }

  .nav .nav__head .nav__burger:before,
  .nav .nav__head .nav__burger:after,
  .nav .nav__head .nav__burger span {
    content: "";
    background-color: #4c4c4c;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .nav .nav__head .nav__burger:before {
    top: 0;
  }

  .nav .nav__head .nav__burger:after {
    bottom: 0;
  }

  .nav .nav__head .nav__burger span {
    top: 10px;
  }

  .nav .nav__head .active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }

  .nav .nav__head .active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
  }

  .nav .nav__head .active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .nav .nav__head .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f0f0f0;
    z-index: 2;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .nav .nav__head .nav__menu .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
    text-align: center;
  }

  .nav .nav__head .nav__menu .nav__list li {
    margin: 10px 0;
  }

  .nav .nav__head .nav__menu .nav__list li a {
    font-size: 22px;
  }

  .img_first .txt_img {
    font-size: 40px;
    max-width: 600px;
  }

  .about_as {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about_as .welcome {
    max-width: 100%;
  }

  .our {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .our .lesson {
    max-width: 100%;
  }

  footer .footRow div {
    text-align: center;
  }

  footer .footRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 620px) {
  .nav .nav__head .nav__logo {
    font-size: 20px;
  }

  .contact_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact_row .block_contact {
    width: 100%;
  }

  .user .general_info_user .info_block {
    width: 110px;
  }

  .user .general_info_user .info_block .label {
    font-size: 22px;
  }

  .user .general_info_user .result_block {
    width: calc(100% - 110px);
  }

  .user .general_info_user .result_block .label {
    font-size: 22px;
  }
}

@media screen and (max-width: 520px) {
  .nav .nav__head {
    height: 60px;
  }

  .nav .nav__head .mgt {
    display: none;
  }

  .user .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .user .general_info_user .info_block {
    width: 100px;
  }

  .user .general_info_user .info_block .label {
    font-size: 18px;
  }

  .user .general_info_user .result_block {
    width: calc(100% - 100px);
  }

  .user .general_info_user .result_block .label {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: calc(100% - 40px);
  }
}