.admin_panel {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 22px;

  .section-general {
    max-width: 300px;
    min-height: 800px;
    width: 100%;
    //background-color: #dde334;
    border-radius: 20px;
    box-shadow: 0 0 20px #dbdbdb;

    ul {
      width: 100%;
      padding: 20px 0;

      li {
        margin: 20px auto;
        text-align: center;

        a {
          font-size: 20px;
        }
      }
    }
  }

  .section-second {
    width: calc(100% - 320px);

    .nav_admin {
      display: flex;
      justify-content: flex-end;

      div {
        margin: 0 0 0 20px;
      }
    }

    .table {
      margin: 20px auto;
      width: calc(100% - 40px);
     .find{
       display: flex;
       justify-content: space-between;
       height: 40px;
       width: 300px;
       margin: 20px 0;
       align-items: center;
       button{
         background-color: #fff;
         margin: 0 10px;
       }
       label{
         display: flex;
         justify-content: space-between;
         align-items: center;
         span, input{
           width: 200px;
           font-size: 22px;
           height: 30px;
         }
         input{
           border: 1px solid #4c4c4c;
           border-radius: 5px;
           margin-right: 10px;
         }
       }
     }
      .title {
        text-align: center;
      }

      .head_table {
        font-weight: 600;
        font-size: 20px;
      }

      .row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #4c4c4c;
        margin: 5px;

        .id {
          width: 40px;
        }

        .name {
          width: 200px;
        }

        .surname {
          width: 200px;
        }

        .price {
          width: 70px;
          text-align: center;
        }

        .tel {
          width: 150px;
        }

        .role {
          width: 70px;
        }

        .course {
          width: 180px;
        }

        .edit {
          width: 100px;

          a {
            font-weight: 500;

            &:hover {
              color: #d9b91b;
            }
          }
        }

        .delete {
          width: 80px;
          margin-right: 15px;

          a {
            font-weight: 500;

            &:hover {
              color: #c75454;
            }
          }
        }

        .control {
          width: 280px;
          margin-right: 10px;
          display: flex;
          justify-content: space-between;
        }

        .column {
          display: flex;

          div {
            margin: 0 15px 0 0;
          }
        }
      }
    }
  }
}

.create {
  display: flex;
  flex-direction: column;
  margin: 30px auto;

  .title {
    text-align: center;
  }

  .error_msg {
    line-height: 20px;
    height: 20px;
    text-align: center;
    padding: 20px;
    color: #c75454;
    font-weight: bolder;
  }


  label, .select{
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    margin: 0 auto;

    span {
      font-size: 22px;
      font-weight: 500;
    }

    input, select{
      margin: 20px 0 20px 0;
      border: 1px solid #4c4c4c;
      border-radius: 5px;
      height: 30px;
      width: 200px;
      font-size: 20px;
    }
    select{
      font-size: 18px;
    }
  }

  .button {
    margin: 0 auto;
  }
}