footer{
  padding: 20px 0;
  background-color: #4c4c4c;
  color: #f0f0f0;
  .foot_row{
    display: flex;
    justify-content: space-between;
    .title{
      padding: 30px 0;
      color: #f0f0f0;
      font-size: 20px;
      font-weight: 500;
    }
    .list{
      color: #f0f0f0;
      padding: 10px 0;
      li{
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}