.nav{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 20px rgba(76, 76, 76, 0.6);
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 3;
  }
  .nav__head{
    position: relative;
    //z-index: 2;
    display: flex;
    //padding: 10px 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    @include mobile-XL{
      height: 60px;
    }
    .logo{
      z-index: 3;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .mgt{
      z-index: 3;
      padding-right: 15px;
      @include mobile-XL{
       display: none;
      }
    }
    .nav__logo{
      @include tablet-S{
        font-size: 20px;
      }

      position: relative;
      z-index: 3;
      cursor: pointer;
      font-size: 22px;
      font-weight: 900;
      letter-spacing: 2px;
      color: #4c4c4c;
      span{
        font-weight: 900;
        color: #4c4c4c;
      }
    }
    .nav__burger{
      display: none;
      @include tablet{
        display: block;
        position: relative;
        top: 0;
        z-index: 3;
        width: 35px;
        height: 23px;
        &:before,&:after,span{
          content: '';
          background-color: #4c4c4c;
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          border-radius: 10px;
          transition: all 0.4s ease 0s;
        }
        &:before{
          top: 0;
        }
        &:after{
          bottom: 0;
        }
        span{
          top: 10px;
        }
      }
    }
    @include tablet{
      .active{
        &:before{
          transform: rotate(45deg);
          //transform: rotate(225deg);
          top: 10px;
        }
        &:after{
          transform: rotate(-45deg);
          //transform: rotate(-225deg);

          bottom: 10px;
        }
        span{
          transform: scale(0);
        }
      }
    }
    .nav__menu{
      @include tablet{
        display: flex;
        align-items: center;
        position: fixed;
        top: -100%;
        left: 0;
        max-width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #f0f0f0;
        //padding: 80px 0 0;
        z-index: 2;
        transition: all 0.4s ease 0s;
      }
      &.active{
        top: 0;
      }
      @include laptop-S{
        max-width: 500px;
      }
      //max-width: 470px;
      max-width: 500px;
      width: 100%;
      position: relative;
      z-index: 3;
      display: flex;
      align-items: center;
      .nav__list{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        @include tablet{
          flex-direction: column;
          padding: 30px 0;
          text-align: center;
        }
        li{
          @include tablet{
            margin: 10px 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}
