.block{
  max-width: 500px ;
  width: 100%;
  margin: 100px auto;
  border-radius: 20px;
  background-color: #4c4c4c;
  color: #f0f0f0;
  padding: 20px;
  .title_form{
    font-weight: 600;
    font-size: 30px;
    padding: 30px;
    text-align: center;
  }
  .form{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    label{
      font-size: 25px;
    }
    input{
      font-size: 25px;
      line-height: 30px;
      width: 100%;
      border-radius: 5px;
      padding:5px 5px 5px 10px;
    }
    .button{
      margin: 20px auto 5px;
      box-shadow: 0px 0px 5px #1f1f1f;
    }
    .register{
      font-size: 18px;
      text-decoration: underline;
      text-align: center;
      margin-bottom: 15px;
      cursor: pointer;
    }
  }
}