.enrollment{
  padding: 10px 0;
  .enrollment__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include laptop-S{
      flex-direction: column-reverse;
    }
    .enrollment__txt{
      max-width: 550px;
      width: 100%;
      @include laptop-S{
        padding: 20px 0 0;
      }
      .enrollment_title{
        padding: 0 0 20px;
        @include mobile-L{
          font-size: 30px;
        }
      }
    }
    .enrollment__img{
      img{
        width: 100%;
        max-width: 550px;
      }
    }
  }
}
.directions{
  padding: 30px 0;
  .direction_row{
    border-radius: 35px;
    background-color: rgba(85, 123, 50, 0.3);
    padding: 40px;
    @include laptop{
      max-width: 700px;
      width: 100%;
      padding: 20px 50px;
      margin: 0 auto;
    }
    @include laptop-S{
      max-width: 570px;
    }
    @include tablet-S{
      max-width: 450px;
    }
    @include mobile-L{
      padding: 20px;
    }
    .directions__txt{
      font-weight: 600;
      font-size: 30px;
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
      @include mobile-L{
        font-size: 26px;
      }
    }
    .directions__row{

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0 0;
      flex-wrap: wrap;
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
      .direction{
        padding: 10px 0;
        display: flex;
        align-items: center;
        .dir_img{
          //width: 50px;
          color: white;
          //padding: 0 5px 0 0;
          img{
            padding: 0 5px 0 0;
            width: 50px;
            color: white;
          }
        }
        .dir_txt{
          font-size: 23px;
          color: #4c4c4c;
          font-weight: 500;
          @include mobile-L{
            font-size: 20px;
          }
          @include mobile-M{
            font-size: 18px;
          }
        }
      }
    }
  }
}
.tasks{
  .column__title{
    text-align: center;
    font-style: normal;
    font-weight: 700;
  }
  .tasks__columns{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    @include laptop-S{
      flex-direction: column;
      align-items: center;
    }
    .column{
      max-width: 280px;
      width: 100%;
      //border: 0.5px solid rgba(76, 76, 76, 0.4);
      border-radius: 10px;
      padding: 20px;
      background: url("../img/line.png") left center;
      //height: 350px;
        margin: 30px 0;
        box-shadow: 0 2px 5px rgba(76, 76, 76, 0.4);
      .name_card{
        font-size: 50px;
        font-weight: 600;
        padding: 40px 0;
        text-align: center;
      }
      .txt_card{
        font-weight: 500;

      }
    }
  }
}