@import "mixins.scss";
@import "normalize.scss";
@import "scrollBar.scss";

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 2rem;
  @include laptop{
    user-select: none;
  }
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: #4c4c4c;
  @include laptop-M{
    max-width: calc(100% - 60px);
  }
  @include mobile-M{
    max-width: calc(100% - 40px);
  }
}

main{
  padding: 60px 0 0;
}
a{
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s ease 0s;
  color: #4c4c4c;
  &:hover{
    color: #618EE3;
  }
}
.button{
  width: 200px;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  background-color: #e09447;
  text-align: center;
  border-radius: 50px;
  color: #f0f0f0;
  cursor: pointer;
  text-transform: uppercase;
}
button{
  display: block;
}
.title{
  font-size: 35px;
  color: #4c4c4c;
  font-weight: 6600;
  line-height: 2.5rem;
}
.description{
  font-size: 16px;
}
.title_blue{
  color: #5788e3;
}
.title_yellow{
  color: #e09447;
}
@import "header.scss";
@import "main.scss";
@import "log.scss";
@import "footer.scss";

