.user_img{
  width: 120px;
  height: 120px;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  top: -60px;
  margin: 0 auto;
  border: 0.1px solid rgba(76, 76, 76, 0.3);
  &:hover .edit_img{
    opacity: 100%;
    color: #f0f0f0;
  }
  .edit_img{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.8s;
    height: 100%;
    width: 100%;
    line-height: 100%;
    background-color: rgba(76, 76, 76, 0.3);
    font-weight: normal;
    color: #f0f0f0;
  }
}
.user_name{
  text-align: center;
  position: relative;
  top: -30px;
}
.user{
  .title{
    font-weight: 500;
    font-size: 22px;
    border-bottom: 1px solid #4c4c4c;
    color: #4c4c4c;
    margin-bottom: 10px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    span{
      display: flex;
      width: 250px;
      justify-content: space-between;
      @include tablet-S{
        text-align: center;
        width: 100%;
      }
      a{
        font-size: 20px;
        display: flex;
        align-items: center;
        img{
          width: 25px;
          height: 25px;
        }
      }
    }
    @include tablet-S{
      flex-direction: column;
    }
  }
  .general_info_user{
    @include laptop-M{
      flex-wrap: wrap;
      height: 400px;
      width: 600px;
    }
    width: 100%;
    height: 200px;
    //background-color: #4c4c4c;
    //border: 1px solid saddlebrown;
    margin-bottom: 20px;
    justify-content: space-between;
    //
    padding: 0 20px;
    display: flex;
    .info_block{
      width: 150px;
      @include tablet-S{
        width: 110px;
      }
      @include mobile-XL{
        width: 100px;
      }
      .label{
        font-size: 28px;
        font-weight: 500;
        margin: 20px 0;
        &:after{
          content: ':';
        }
        @include tablet-S{
          font-size: 22px;
        }
        @include mobile-XL{
          font-size: 18px;
        }
      }
    }
    .result_block{
      width: 400px;
      @include tablet-S{
        width: calc(100% - 110px);
      }
      @include mobile-XL{
        width: calc(100% - 100px);
      }
      .label{
        font-size: 28px;
        font-weight: normal;
        margin: 20px 0;
        @include tablet-S{
          font-size: 22px;
        }
        @include mobile-XL{
          font-size: 18px;
        }
      }
    }
  }
  .timetable_user{
    width: 100%;
    height: 300px;
    //background-color: #4c4c4c;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .msg{
      font-size: 30px;
    }
  }
}
.edit_user_info{
  margin: 20px 0 0;
  font-size: 25px;
  .body_edit_info{
    label{
      font-size: 25px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
    }
    input{
      font-size: 25px;
      line-height: 30px;
      max-width: 300px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #4c4c4c;
      padding:5px 5px 5px 10px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    button{
      margin: 10px auto 0;
    }
  }
}